/* Body styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(Images/Background.jpg); /* Replace with the path to your background image */
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: cover;
  background-size: 100%; /* Set a fixed size for the background image */
}

/* Header styles */
header {
  padding: 20px;
  background-color: transparent; /* Set background to transparent */
  color: #fff;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #fff; /* Added text color */
}

/* Content container styles */
.content-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: transparent;
}

/* Sections styles */
.sections {
  flex-basis: 30%;
  padding: 20px;
  background-image: url(Images/Background1.jpg);
  background-size: 100%; /* Set a fixed size for the background image */
  color: #fff;
}

.sections h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.sections ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sections li {
  margin-bottom: 10px;
}

.sections li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.sections li a:hover {
  background-color: #555;
}

/* Sub-sections styles */
.sub-sections {
  flex-basis: 70%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Set the background color with transparency */
  backdrop-filter: blur(50px); /* Apply a blur effect */
}

.sub-sections h2 {
  color: #8fec96;
  font-size: 24px;
  margin-bottom: 20px;
}

.sub-sections-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sub-section {
  margin-bottom: 10px;
  cursor: pointer;
}

.sub-section h3 {
  color: #ccd2d3;
  font-size: 18px;
  margin: 10px;
}

.topics-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.topics-list.show {
  display: block;
}

.topics-list li {
  margin-bottom: 10px;
}

.topics-list li a {
  color: #333;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  padding: 10px;
  display: inline-block;
  border-radius: 7px;
  background-color: #f2f2f2;
  transition: background-color 0.3s ease;
}

.topics-list li a:hover {
  background-color: #e74c3c;
  color: #fff;
}

#topicContent {
  margin-top: 20px;
  padding: 20px;
  background-color: transparent;
  border-radius: 5px;
}

/* Modal styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75); /* Set the background color with transparency */
  backdrop-filter: blur(50px); /* Apply a blur effect */
  z-index: 9999;
  
}
.modal1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
  z-index: 9999;
}


/* Modal styles */
.modal-content {
  position: relative;
  background-color: #dbffce;
  padding: 20px;
  width: 90%;
  max-height: 90%;
  overflow-y: auto;
  display: flex;
  flex-direction: column; /* Display content in a vertical layout */
  margin: 0 auto; /* Center horizontally within the topic content area */
  margin-top: 20px; /* Add top margin for separation */
  
}

@keyframes modal-pop {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


.close-button {
  position: absolute;
  color: #686868;
  top: 1px;
  /*bottom: 20px;*/
  left: 10px;
  font-size: 60px;
  cursor: pointer;
}

.topic-container {
  margin-top: 20px;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 24px;
  color: #333;
}


